
div.white {
  padding: 5%;
  position: relative;
}

div.black {
  background-color: #e5e5e5;
  padding:5%;
  position: relative;
}
#top {
  position: absolute;
  padding: 4% 9% 8%;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(20, 0, 73) 0%,
    rgb(46, 36, 187) 35%,
    rgb(85, 109, 245) 100%
  );

  position: relative;
  min-height: 100vh;
}
/* navbar */
.navbar-barnad {
  font-weight: 900;
  font-size: 2rem;
  font-family: 'Merriweather', serif;
}
.navbar {
  padding: 1% 2%;
}

#content-wrap {
  padding-bottom: 2rem;

  /* Footer height */
}
.link {
  padding: 1%;
  color: rgb(46, 36, 187);
}
#foot {
  text-align: center;

  padding: 1%;
  padding-top: 2%;

  background: linear-gradient(
    90deg,
    rgb(20, 0, 73) 0%,
    rgb(46, 36, 187) 35%,
    rgb(85, 109, 245) 100% (#e3f2) 70%
  );
}
.btn{
margin-top: 3%;
}
h1 {
  color: rgb(20, 0, 73);
  padding: 2%;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-top:3%;
}
